.products {
    &__section {
        margin-bottom: 18px;
        font-size: 20px;
        line-height: 27px;

        @media (max-width:1025px) {
            font-size: 18px;
            line-height: 24px;
        }

        &--text {
            color: #3D3D3D;

            @media (max-width:1025px) {
                font-family: 'Bold';
            }
        }

        &--link {
            margin-left: 12px;
            color: #40CF25;
            text-decoration: none;
        }
    }
}

.hashtags {
    &__item{
        width: 100%;
        height: 135px;
        border-radius: 20px;
        overflow: hidden;

        &--cover {
            width: 100px;
            height: 100%;
            object-fit: cover;
        }

        &--title {
            padding: 6px 16px;
            border-radius: 30px;
            background-color: #fff;
            
            a {
                display: block;
                color: #707070;
                font-size: 15px;
                text-decoration: none;
            }
        }
    }
}